<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/homepage.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/static/styles/category.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/static/styles/header.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/static/styles/searchbar.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/static/styles/contenu.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/static/styles/card.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/static/styles/commentaire.css" media="all" />
    <link href="https://fonts.cdnfonts.com/css/kodchasan" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <div class="main">
            {{ template "header"}}
        <div class="container-all">
            <br>
            <br>
            <div class="container-categories">
                <div class="categories">
                    <div class="container-create-post">
                        <div class="create-post">
                            <img src="/static/images/addpost.png" class="addpost-image">
                            <br>
                            <div class="title-create-post">
                                &ensp; CREATE<br>NEW POST
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="container-spacebar">
                        <div class="spacebar">
                        </div>
                    </div>
                    {{template "category"}}
                    <br>
                    <br>
                    <div class="container-spacebar-contact">
                        <div class="spacebar-contact">
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="container-contact-us">
                        <div class="contact-us">
                            <img src="/static/images/message.png" class="contact-image">
                            <br>
                            <div class="title-contact-us">
                               CONTACT US
                            </div>
                        </div>
                    </div>
                    <div class="container-big-spacebar">
                        <div class="big-spacebar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="container-copyrigth">
            <div class="copyrigth">
                Copyright © 2023 Fruits Salade, all rights reserved.
            </div>
        </div>
    </div>
</body>
<script>

</script>

</html>