@import url('https://fonts.cdnfonts.com/css/kodchasan');

body {
    margin: auto;
    
}

header {
    height: 75px;
    background-color: rgb(234, 0, 0);
}


.profiletposts {
    
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.profil {
    width: 45%;
    height: 75%;
    background-color: rgb(255, 253, 253);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}





.titrelogo {

    width: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    
}

.leetchi {
    width: 50px;
    height: 50px;
}

.border {
    background-color: black;
    width: 3px;
    height: 80%;
    border-radius: 100px;
    
}


.prooofil {
    font-family: 'Kodchasan', sans-serif;
    font-size: 25px;
    margin-bottom: 0;
}


.friends {
    font-family: 'Kodchasan', sans-serif;
    font-size: 20px;
}


.biography {
    font-family: 'Kodchasan', sans-serif;
    font-size: 18px;
    margin-bottom: 0;
}


.posts {
    display: flex;
    width: 47.5%;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



.buttonposts {
    height: 10vh;
    width: 100%;
    background-color: white;
    color: rgb(0, 0, 0);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    font-family: 'Kodchasan', sans-serif;
    font-size: 25px;
    transition: border-bottom-color 0.5s ease;
    
    
}

a {
    text-decoration: none;
    color: #fd4f5a;
}

a:hover {
    border-bottom: #ef396c 2px solid;
}


.buttons {
display: flex;
width: 100%;
}




.buttonposts.active {
    border-bottom-color: rgb(0, 0, 0);
    color: black;
   
}


#ourposts {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    }

.NLP {
    font-family: 'Kodchasan', sans-serif;
    font-size: 25px;
}



.friendsbiographie {
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h3 {
    font-family: 'Kodchasan ', sans-serif;
    font-size: 15px;
}

.button {
    background-color: rgb(255, 255, 255);
     border-radius: 25px;
     width: 250px;
     height: 45px;
     border: 2px solid black;
     font-family: 'Kodchasan', sans-serif;
    font-size: 15px;
    margin: 10px;
}

.message-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
   
    
    
}

.message {  
    width: 25px;
    height: 25px;
}

.button:hover {
    background: transparent;
    
    background-image: linear-gradient(90deg, white, white),
        linear-gradient(90deg, #ef396c, #f69023);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 2px solid transparent;
    cursor: pointer;
}


.croix {
    width: 75px;
    height: 75px;
}

@media screen and (max-width: 1000px) { 

    .profiletposts {
        flex-direction: column;
        height: 90%;
    
    }

    .posts {
        width: 90%;
    }
}