@import url('https://fonts.cdnfonts.com/css/kodchasan');

body {
    margin: auto;
    
}

header {
    height: 75px;
    background-color: rgb(234, 0, 0);
}


.profiletposts {
    background-color: rgb(248, 247, 247);
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}