
@import url('https://fonts.cdnfonts.com/css/kodchasan');

body {
    margin: auto;
    
}


header {
    
    background-color: rgb(255, 255, 255);
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}


.addpeople {
    height: 75%;
    width: 15vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: contain;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    
}

.addpeopleimg {
    background-image: url(img/addpeople.png);
    width: 50%;
    height: 45%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

.addpeopletext {
    font-family: 'Kodchasan Medium', sans-serif;    
}


.chat {
    height: 75%;
    width: 15vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: contain;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    
}

.chatimg {
    background-image: url(img/chat.png);
    width: 50%;
    height: 45%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.chattext {
    font-family: 'Kodchasan Medium', sans-serif;  
}

.logo {
    height: 100%;
    width: 10vh;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: contain;
    background-position: center;
}

.profil {
    height: 75%;
    width: 15vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: contain;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.profilimg {
    background-image: url(img/profil.png);
    width: 50%;
    height: 45%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.profiltext {
    font-family: 'Kodchasan Medium', sans-serif; 
}


.aboutus {
    height: 75%;
    width: 15vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: contain;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    
}

.aboutusimg {
    background-image: url(img/aboutus.png);
    width: 50%;
    height: 45%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.aboutustext {
    font-family: 'Kodchasan Medium', sans-serif; 
}



