@import url('https://fonts.cdnfonts.com/css/kodchasan');

body {
    margin: auto;
}

header {
    height: 75px;
    background-color: rgb(234, 0, 0);
}


.profiletlogo {
    background-color: rgb(255, 255, 255);
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.profil {
    width: 45%;
    height: 75%;
    background-color: rgb(255, 253, 253);
    border-right: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}





.titrelogo {

    width: 90%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}

h1 {
    font-family: 'Kodchasan ExtraLight', sans-serif;
    font-size: 30px;
    margin-bottom: 0;
}


h2 {
    font-family: 'Kodchasan ExtraLight', sans-serif;
    font-size: 20px;
}


.cerise {
    width: 20%;
    height: 80%;
    background-image: url(ressources/cherry.png );
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 0;
}


.friendsbiographie {
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}





h3 {
    font-family: 'Kodchasan Extralight', sans-serif;
    font-size: 15px;
}



.pseudoemail {
    width: 90%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.pseudo {
    display: flex;
    flex-direction: column;
    font-family: 'Kodchasan Medium', sans-serif;
    font-size: 20px;
    gap: 10px;
    align-items: center;
    width: 60%;
    height: 65%;
}

.pseudotext {
   width: 80%;
    display: flex;
    justify-content: flex-start;

}

input {
    height: 5vh;
    border-radius: 25px;
    width: 75%;
    user-select: none;
    padding-left:15px;
    
}

input::placeholder {
    font-family: 'Kodchasan Medium', sans-serif;
    font-size: 15px;
    user-select: none;
}


.email {
    display: flex;
    flex-direction: column;
    
}

.password {
    width: 90%;
    height: 20%;
    font-family: 'Kodchasan Medium', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    
}


.logout {
    background-color: rgb(255, 255, 255);
     border-radius: 25px;
     width: 30vh;
     height: 10vh;
     border: 2px solid black;
     font-family: 'Kodchasan Medium', sans-serif;
    font-size: 15px;
}

.proofil {
    
}


.logout:hover {
    background: transparent;
    
    background-image: linear-gradient(90deg, white, white),
        linear-gradient(90deg, #ef396c, #f69023);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 2px solid transparent;
    cursor: pointer;
}


.posts {
    display: flex;
    width: 47.5%;
    height: 70vh;
    flex-direction: column;
    
}



.buttonposts {
    height: 10vh;
    width: 50%;
    background-color: white;
    color: grey;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid grey;
    font-family: 'Kodchasan Extralight', sans-serif;
    font-size: 20px;
    transition: border-bottom-color 0.5s ease;
    
    
}

a {
    text-decoration: none;
    color: #fd4f5a;
}

a:hover {
    border-bottom: #ef396c 2px solid;
}


.buttons {
display: flex;
width: 100%;
}




.buttonposts.active {
    border-bottom-color: rgb(0, 0, 0);
    color: black;
   
}

#likedposts {
display: none;
align-items: center;
justify-content: center;
height: 100%;
flex-direction: column;
}

#ourposts {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    }

.NLP {
    font-family: 'Kodchasan Extralight', sans-serif;
    font-size: 25px;
}


