@import url('https://fonts.cdnfonts.com/css/kodchasan');

body {
    margin: auto;
    background-color: #F2F2F2;
    
}

header {
    height: 75px;
    background-color: rgb(234, 0, 0);
}


.profiletlogo {
   
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.border {
    background-color: black;
    width: 3px;
    height: 80%;
    border-radius: 100px;
}


.profil {
    width: 45%;
    height: 75%;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cherry {
    width: 50px;
    height: 50px;
}





.titrelogo {

    width: 90%;
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Kodchasan', sans-serif;
    font-size: 25px;
    margin-bottom: 0;
  
    
}

h1 {
    font-family: 'Kodchasan', sans-serif;
    font-size: 25px;
    margin-bottom: 0;
    text-decoration: none;
}


.friends {
    font-family: 'Kodchasan', sans-serif;
    font-size: 20px;
}


.cerise {
    width: 20%;
    height: 80%;
    background-image: url(ressources/cherry.png );
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 0;
}


.friendsbiographie {
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}





.biography {
    font-family: 'Kodchasan', sans-serif;
    font-size: 15px;
}



.pseudoemail {
    width: 90%;
    height: 100%;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.pseudo {
    display: flex;
    flex-direction: column;
    font-family: 'Kodchasan', sans-serif;
    font-size: 16px;
    gap: 10px;
    align-items: center;
    width: 60%;
    height: 65%;
}

.pseudotext {
   width: 80%;
    display: flex;
    justify-content: flex-start;

}

.pseudoinput {
    height: 35px;
    border-radius: 25px;
    width: 300px;
    user-select: none;
    padding-left:10px;
    background-color: white;
    border: black 1px solid;
    
}

.pseudoinput::placeholder {
    font-family: 'Kodchasan Medium', sans-serif;
    font-size: 15px;
    user-select: none;
}


.email {
    display: flex;
    flex-direction: column;
    
}

.password {
    width: 90%;
    height: 20%;
    font-family: 'Kodchasan', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    
}


.logout {
    background-color: rgb(255, 255, 255);
     border-radius: 25px;
     width: 200px;
     height: 100px;
     border: 2px solid black;
     font-family: 'Kodchasan', sans-serif;
    font-size: 15px;
}   




.logout:hover {
    background: transparent;
    
    background-image: linear-gradient(90deg, white, white),
        linear-gradient(90deg, #ef396c, #f69023);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 2px solid transparent;
    cursor: pointer;
}


.posts {
    display: flex;
    width: 47.5%;
    height: 70vh;
    flex-direction: column;
    
}



.buttonposts {
    height: 10vh;
    width: 50%;
    color: grey;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid grey;
    font-family: 'Kodchasan', sans-serif;
    font-size: 20px;
    transition: border-bottom-color 0.5s ease;
    
    
}

a {
    text-decoration: none;
    color: #fd4f5a;
}

a:hover {
    border-bottom: #ef396c 2px solid;
}


.buttons {
display: flex;
width: 100%;
}




.buttonposts.active {
    border-bottom-color: rgb(0, 0, 0);
    color: black;
   
}

#likedposts {
display: none;
align-items: center;
justify-content: center;
height: 100%;
flex-direction: column;
}

#ourposts {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    }

.NLP {
    font-family: 'Kodchasan', sans-serif;
    font-size: 25px;
}

@media screen and (max-width: 1000px) { 

.profiletlogo {
    flex-direction: column;
    height: 90%;

}

.pseudoinput {
    height: 5vh;
    border-radius: 25px;
    width: 200px;
    user-select: none;
    padding-left:15px;
    
}



.pseudotext {
    width: 200px;
}


.password {
    font-size: 15px;
    width: 100%;

}

.logout {
    height: 40px;
    width: 200px;
}





.posts {
    width: 90%;
}
}


.croix {
    width: 75px;
    height: 75px;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 400px   ;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    background: transparent;
    background-image: linear-gradient(90deg, white, white),
        linear-gradient(90deg, #ef396c, #f69023);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 10px solid transparent;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
  }
 
  .newpassword {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .passwordpopup {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .passwordpopup2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  

  .passwordtext {
    width: 100px;
    display: flex;
    text-align: start;
    font-family: 'Kodchasan Medium', sans-serif;
    font-size: 15px;
}

.confirmpasswordtext {
    width: 200px;
    display: flex;
    text-align: start;
    font-family: 'Kodchasan Medium', sans-serif;
    font-size: 15px;
}

.passwordinput {
    height: 30px;
    border-radius: 25px;
    width: 250px;
    user-select: none;
    padding: 5px;
    font-family: 'Kodchasan Medium', sans-serif;
    font-size: 15px;
  
}

.passwordinput::placeholder {
    font-family: 'Kodchasan Medium', sans-serif;
    font-size: 15px;
    user-select: none;  
    
}

.submit {
    background-color: rgb(255, 255, 255);
     border-radius: 25px;
     width: 150px;
     height: 35px;
     border: 2px solid black;
     font-family: 'Kodchasan Medium', sans-serif;
    font-size: 15px;
}




.submit:hover {
    background: transparent;
    
    background-image: linear-gradient(90deg, white, white),
        linear-gradient(90deg, #ef396c, #f69023);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 2px solid transparent;
    cursor: pointer;
}

@media screen and (max-width: 1000px) { 
    .popup {
        width: 300px;
        height: 350px;

    }

}   
