{{define "card"}}
<div class="cardpost" id="cardpost">
    <div class="society" id="backcolor">
        <div class="haut">
            <div class="gauche">
                <div class="imgcard">
                    <img id="fruitsImg" src="/static/images/grappes.png">
                </div>
                <div class="titre" id="titre"> &ensp; Title</div>
            </div>

            <div class="pseudo" id="pseudo"><a id="pseudoLink" href="#"> @user</a></div>

        </div>
        <div class="milieu" id="postmessage">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
        </div>
        <div class="bas">
            <div class="categorie" id="category">society</div>
            <div class="rs">
                <div id="commentpopup" class="commentaires">

                    <img src="/static/images/commentaire.png" id="commentBtn" onclick="popupFunc()">



                    <div class="nbrcommentaires" id="nbrcomment"> 13</div>
                </div>
                <div class="likes">
                    <img src="/static/images/coeur.png">
                    <div class="nbrlikes" id="postLike"> 11</div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}