{{ define "category"}}
<div class="category-spaced">
    <div class="title-container">
        <p class="title_categories">Categories</p>
        <br>
        <br>
    </div>
    <div class="category_List">
        <div class="ordi">
            <div class="fruit">
                <img class="fruitsBig" src="/static/images/melon 1.png" /><a href="#">Politics</a>
            </div>
            <div class="fruit">
                <img class="fruitsBig" src="/static/images/peach 2.png" /><a href="#">Sports</a>
            </div>
            <div class="fruit">
                <img class="fruitsBig" src="/static/images/orange 1.png" /><a href="#">High - Tech</a>
            </div>
            <div class="fruit">
                <img class="fruitsBig" src="/static/images/pear 1.png" /><a href="#">Arts</a>
            </div>
            <div class="fruit">
                <img class="fruitsBig" src="/static/images/strawberry (1) 2.png" /><a href="#">Tips / Tricks</a>
            </div>
            <div class="fruit">
                <img class="fruitsBig" src="/static/images/6238-raspberry 1.png" /><a href="#">Movies / Shows</a>
            </div>
            <div class="fruit">
                <img class="fruitsBig" src="/static/images/grapes 3.png" /><a href="#">Society</a>
            </div>
            <div class="fruit">
                <img class="fruitsBig" src="/static/images/cherries.png" /><a href="#">Musics</a>
            </div>
            <div class="fruit">
                <img class="fruitsBig" src="/static/images/watermelon 1.png" /><a href="#">Gaming</a>
            </div>
            <div class="fruit">
                <img class="fruitsBig" src="/static/images/lemon 1.png" /><a href="#">History / Learning</a>
            </div>
            <div class="fruit">
                <img class="fruitsBig" src="/static/images/apple 2.png" /><a href="#">Food / Drinks</a>
            </div>
            <div class="fruit">
                <img class="fruitsBig" src="/static/images/mango 1.png" /><a href="#">Travels</a>
            </div>
        </div>
        <button class="collapsible">
            <p>More ...</p>
        </button>
        <div class="content">
            <div class="fruit">
                <img class="fruitsSmall" src="/static/images/melon 1.png" /><a href="#">Politics</a>
            </div>
            <div class="fruit">
                <img class="fruitsSmall" src="/static/images/peach 2.png" /><a href="#">Sports</a>
            </div>
            <div class="fruit">
                <img class="fruitsSmall" src="/static/images/orange 1.png" /><a href="#">High - Tech</a>
            </div>
            <div class="fruit">
                <img class="fruitsSmall" src="/static/images/pear 1.png" /><a href="#">Arts</a>
            </div>
            <div class="fruit">
                <img class="fruitsSmall" src="/static/images/strawberry (1) 2.png" /><a href="#">Tips / Tricks</a>
            </div>
            <div class="fruit">
                <img class="fruitsSmall" src="/static/images/6238-raspberry 1.png" /><a href="#">Movies / Shows</a>
            </div>
            <div class="fruit">
                <img class="fruitsSmall" src="/static/images/grapes 3.png" /><a href="#">Society</a>
            </div>
            <div class="fruit">
                <img class="fruitsSmall" src="./static/images/cherries.png" /><a href="#">Musics</a>
            </div>
            <div class="fruit">
                <img class="fruitsSmall" src="/static/images/watermelon 1.png" /><a href="#">Gaming</a>
            </div>
            <div class="fruit">
                <img class="fruitsSmall" src="/static/images/lemon 1.png" /><a href="#">History / Learning</a>
            </div>
            <div class="fruit">
                <img class="fruitsSmall" src="/static/images/apple 2.png" /><a href="#">Food / Drink</a>
            </div>
            <div class="fruit">
                <img class="fruitsSmall" src="/static/images/mango 1.png" /><a href="#">Travels</a>
            </div>
        </div>
    </div>
{{ end }}