{{ define "category"}}


<button class="createButton"><img src="/static/images/ajouter-un-bouton.png" id="imageButton">
    <p class="createAPost">create new post</p>
</button>
<div class="container_sep">
    <div class="sep"></div>
</div>
<p class="title_categories">Categories</p>
<div class="category_List">
    <div class="ordi">
        <div class="fruit"><img class="fruitsBig" src="/static/images/melon 1.png">Politics</div>
        <div class="fruit"><img class="fruitsBig" src="/static/images/peach 2.png">Sports</div>
        <div class="fruit"><img class="fruitsBig" src="/static/images/orange 1.png">High - Tech</div>
        <div class="fruit"><img class="fruitsBig" src="/static/images/pear 1.png">Arts</div>
        <div class="fruit"><img class="fruitsBig" src="/static/images/strawberry (1) 2.png">Tips / Tricks</div>
        <div class="fruit"><img class="fruitsBig" src="/static/images/6238-raspberry 1.png">Movies / Shows
        </div>
        <div class="fruit"><img class="fruitsBig" src="/static/images/grapes 3.png">Society</div>
        <div class="fruit"><img class="fruitsBig" src="/static/images/cherries.png">Musics</div>
        <div class="fruit"><img class="fruitsBig" src="/static/images/watermelon 1.png">Gaming</div>
        <div class="fruit"><img class="fruitsBig" src="/static/images/lemon 1.png">History / Learning</div>
        <div class="fruit"><img class="fruitsBig" src="/static/images/apple 2.png">Food / Drinks</div>
        <div class="fruit"><img class="fruitsBig" src="/static/images/mango 1.png">Travels</div>
    </div>
    <button class="collapsible">
        <p>More ...</p>
    </button>
    <div class="content">
        <div class="fruit"><img class="fruitsSmall" src="/static/images/melon 1.png">Politics</div>
        <div class="fruit"><img class="fruitsSmall" src="/static/images/peach 2.png">Sports</div>
        <div class="fruit"><img class="fruitsSmall" src="/static/images/orange 1.png">High - Tech</div>
        <div class="fruit"><img class="fruitsSmall" src="/static/images/pear 1.png">Arts</div>
        <div class="fruit"><img class="fruitsSmall" src="/static/images/strawberry (1) 2.png">Tips / Tricks
        </div>
        <div class="fruit"><img class="fruitsSmall" src="/static/images/6238-raspberry 1.png">Movies / Shows
        </div>
        <div class="fruit"><img class="fruitsSmall" src="/static/images/grapes 3.png">Society</div>
        <div class="fruit"><img class="fruitsSmall" src="./static/images/cherries.png">Musics</div>
        <div class="fruit"><img class="fruitsSmall" src="/static/images/watermelon 1.png">Gaming</div>
        <div class="fruit"><img class="fruitsSmall" src="/static/images/lemon 1.png">History / Learning</div>
        <div class="fruit"><img class="fruitsSmall" src="/static/images/apple 2.png">Food / Drinks</div>
        <div class="fruit"><img class="fruitsSmall" src="/static/images/mango 1.png">Travels</div>
    </div>
</div>

<button class="contactUs"><img id="contactUsButton" src="/static/images/envoyer.png">
    <p class="createAPost">Contact Us</p>
</button>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
{{ end }}