{{ define "contenu"}}
<div class="container-contenu">
    <div class="scrollable-contenu">

        <div class="society">
            <div class="haut">
                <div class="gauche">
                    <div class="imgsociety">
                        <img src="/static/images/grappes.png">
                    </div>
                    <div class="titre">Pessi Ou Ronaldo</div>
                </div>

                <div class="pseudo"> @MessiGoat</div>

            </div>
            <div class="milieu">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of the printer great
                wé
                wé la
                zzzzzzzzzzzzzzzzzz
            </div>
            <div class="bas">
                <div class="categorie"> Society</div>
                <div class="rs">
                    <div class="commentaires">

                        <img src="/static/images/commentaire.png">

                        <div class="nbrcommentaires"> 13</div>
                    </div>
                    <div class="likes">
                        <img src="/static/images/coeur.png">
                        <div class="nbrlikes"> 11</div>
                    </div>

                    <div class="partager">
                        <img src="/static/images/fleche-droite-courbe.png">
                        <div class="share"> share </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="society">
            <div class="haut">
                <div class="gauche">
                    <div class="imgsociety">
                        <img src="/static/images/grappes.png">
                    </div>
                    <div class="titre">Pessi Ou Ronaldo</div>
                </div>

                <div class="pseudo"> @MessiGoat</div>

            </div>
            <div class="milieu">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of the printer great
                wé
                wé la
                zzzzzzzzzzzzzzzzzz
            </div>
            <div class="bas">
                <div class="categorie"> Society</div>
                <div class="rs">
                    <div class="commentaires">

                        <img src="/static/images/commentaire.png">

                        <div class="nbrcommentaires"> 13</div>
                    </div>
                    <div class="likes">
                        <img src="/static/images/coeur.png">
                        <div class="nbrlikes"> 11</div>
                    </div>

                    <div class="partager">
                        <img src="/static/images/fleche-droite-courbe.png">
                        <div class="share"> share </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="society">
            <div class="haut">
                <div class="gauche">
                    <div class="imgsociety">
                        <img src="/static/images/grappes.png">
                    </div>
                    <div class="titre">Pessi Ou Ronaldo</div>
                </div>

                <div class="pseudo"> @MessiGoat</div>

            </div>
            <div class="milieu">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of the printer great
                wé
                wé la
                zzzzzzzzzzzzzzzzzz
            </div>
            <div class="bas">
                <div class="categorie"> Society</div>
                <div class="rs">
                    <div class="commentaires">

                        <img src="/static/images/commentaire.png">

                        <div class="nbrcommentaires"> 13</div>
                    </div>
                    <div class="likes">
                        <img src="/static/images/coeur.png">
                        <div class="nbrlikes"> 11</div>
                    </div>

                    <div class="partager">
                        <img src="/static/images/fleche-droite-courbe.png">
                        <div class="share"> share </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="society">
            <div class="haut">
                <div class="gauche">
                    <div class="imgsociety">
                        <img src="/static/images/grappes.png">
                    </div>
                    <div class="titre">Pessi Ou Ronaldo</div>
                </div>

                <div class="pseudo"> @MessiGoat</div>

            </div>
            <div class="milieu">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of the printer great
                wé
                wé la
                zzzzzzzzzzzzzzzzzz
            </div>
            <div class="bas">
                <div class="categorie"> Society</div>
                <div class="rs">
                    <div class="commentaires">

                        <img src="/static/images/commentaire.png">

                        <div class="nbrcommentaires"> 13</div>
                    </div>
                    <div class="likes">
                        <img src="/static/images/coeur.png">
                        <div class="nbrlikes"> 11</div>
                    </div>

                    <div class="partager">
                        <img src="/static/images/fleche-droite-courbe.png">
                        <div class="share"> share </div>

                    </div>
                </div>
            </div>
        </div>








    </div>
</div>

{{ end}}