.comment-style {
    font-family: 'Kodchasan';
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    width: 500px;
    margin-top: 10px;
    cursor: pointer;
    
  }
  .user{
    display: flex;
    align-items: center;
}
  
  .username{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .unblock-image{
    height: 15px;
    width: 15px;
  }