.imgcard {
  width: 30%;
  height: 30%;
}

.gauche {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titre {
  font-family: "kodchasan";
  font-size: 20px;
  font-weight: 500;
}

.pseudo {
  width: 25%;
  height: 90%;
  font-family: "kodchasan";
  /* font-size: 20px; */
  /* font-weight: 500; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.milieu {
  margin-top: 15px;
  margin-right: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 55%;
  font-size: 19px;
  font-weight: 500;
}

.bas {
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 25%;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categorie {
  font-family: "kodchasan";

}

.rs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 90%;
  background-color: rgb(255, 255, 255);
}

.commentaires {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 70%;
  background-color: #ffffff;
  gap: 5px;
}

img {
  height: 40%;
  cursor: pointer;
}

.nbrcommentaires {
  font-family: "kodchasan";
  font-size: 15px;
  font-weight: 500;
  height: 80%;
  display: flex;
  align-items: center;
}

.likes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 70%;
  background-color: #ffffff;
  gap: 5px;
}

.nbrlikes {
  font-family: "kodchasan";
  font-size: 15px;
  font-weight: 500;
  height: 80%;
  display: flex;
  align-items: center;
}

.haut {
  background-color: rgb(255, 255, 255);
  width: 95%;
  height: 25%;
  border-radius: 25px 25px 0px 0px;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.society {
  width: 600px;
  height: 250px;
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: solid 4px #9a3af8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sports {
  width: 600px;
  height: 250px;
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: solid 4px #ffa28d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highTech {
  width: 600px;
  height: 250px;
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: solid 4px #f88104;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arts {
  width: 600px;
  height: 250px;
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: solid 4px #a1d85c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tipsTricks {
  width: 600px;
  height: 250px;
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: solid 4px #ec5352;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.politics {
  width: 600px;
  height: 250px;
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: solid 4px #f7c569;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moviesShows {
  width: 600px;
  height: 250px;
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: solid 4px #ed1e1b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gaming {
  width: 600px;
  height: 250px;
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: solid 4px #fc6c74;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FoodDrinks {
  width: 600px;
  height: 250px;
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: solid 4px #f44747;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travels {
  width: 600px;
  height: 250px;
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: solid 4px #fcc464;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historyLearning {
  width: 600px;
  height: 250px;
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: solid 4px #fbe22b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.musics {
  width: 600px;
  height: 250px;
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: solid 4px #ec3c4c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*/
/**/

#overlay {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.616);

}

#commentcontainer {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 650px;
  height: 500px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 3px solid #FFDD2B;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
}

.title-comment {
  height: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  border-bottom: 2px solid #FFDD2B;
}

.contenu-comments {
  height: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitDiv {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section {
  margin-top: 15px;
  font-size: 25px;
}

.messInput {
  width: 80%;
  height: 35px;
  border-radius: 25px;
  border: 1px solid black;
  padding-left: 15px;
  font-family: 'Kodchasan';
}

.subbutton {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  width: 150px;
  height: 35px;
  border: 1.5px solid #FFDD2B;
  font-family: "Kodchasan", sans-serif;
  font-size: 15px;
}

.subbutton:hover {
  border: 1.5px solid #FFDD2B;
  cursor: pointer;
}

.commentsmany {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (max-width: 1000px) {
  .society {
    width: 500px;
    height: 250px;
  }

  .pseudo {
    margin-right: 15px;
  }

  #fruitsImg{
    height: 30px;
  }

  img {
    height: 20px;
  }

  .rs {
    height: 20px;
  }
}