/* categorie */
.contactUs {
  border: none;
  cursor: pointer;
  background-size: auto;
  background-color: transparent;
  position: fixed;
  top: 90%;
  left: 2%;
}
.category_List {
  display: flex;
  justify-content: center;
}
.sep {
  border: 1px black solid;
  border-radius: 20px;
  background: rgb(239, 56, 109);
  background: linear-gradient(
    90deg,
    rgba(239, 56, 109, 1) 0%,
    rgba(244, 105, 64, 1) 50%,
    rgba(246, 143, 36, 1) 100%
  );
  height: 3px;
  width: 100px;
}
.container_sep {
  display: flex;
  justify-content: center;
}
.content {
  display: none;
}

.createButton {
  border: none;
  cursor: pointer;
  background-size: auto;
  background-color: transparent;
}

#imageButton {
  margin-top: 10px;
  height: 40px;
  width: 40px;
}
#contactUsButton {
  margin-top: 10px;
  height: 40px;
  width: 40px;
}
.createAPost {
  padding: 0;
  margin: 0;
}
.collapsible {
  display: none;
}
.ordi {
  display: flex;
  flex-direction: column;

  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
.fruit {
  display: flex;
  align-items: center;
}
.fruitsBig {
  height: 20px;
  width: 20px;
}
.fruitsSmall {
  height: 70px;
  width: 70px;
}
.title_categories {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 1000px) {
  html,
  body {
    font-size: 2rem;
  }
  .parent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
  }
  .ordi {
    display: none;
  }
  .sep {
    width: 500px;
    height: 10px;
  }
  .postContainer {
    height: 100%;
  }
  .header {
    height: 250px;
  }
  .categoryContainer {
    display: flex;
    align-items: center;
  }
  .collapsible {
    background-color: transparent;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
  }
  .category_List {
    display: unset;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .contactUs {
    width: 300px;
    position: initial;
  }
  .createButton {
    width: 300px;
  }
  .createAPost {
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }
}
