.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.addpeople {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  cursor: pointer;
}

.title-follow {
  font-family: 'Kodchasan';
  font-size: 15px;
  cursor: pointer;
}


.addpeople-image {
  width: 30px;
  height: 30px;
  cursor: pointer;
}


.home {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  cursor: pointer;
}

.title-home {
  font-family: 'Kodchasan';
  cursor: pointer;
  font-size: 15px;
}

.home-image {
  width: 30px;
  height: 30px;
  cursor: pointer;
}


.profil {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  cursor: pointer;
}

.title-profil {
  font-family: 'Kodchasan';
  cursor: pointer;
  font-size: 15px;
}

.profil-image {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  cursor: pointer;
}

.title-about-us {
  font-family: 'Kodchasan';
  cursor: pointer;
  font-size: 15px;
}

.about-us-image {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.adduserContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 60%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  background: transparent;
  background-image: linear-gradient(90deg, white, white),
    linear-gradient(90deg, #ef396c, #f69023);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 5px solid transparent;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
}

.doneadduser {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  width: 150px;
  height: 35px;
  border: 2px solid black;
  font-family: "Kodchasan", sans-serif;
  font-size: 15px;
}
.doneadduser:hover {
  background: transparent;
  background-image: linear-gradient(90deg, white, white),
    linear-gradient(90deg, #ef396c, #f69023);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 2px solid transparent;
  cursor: pointer;
}
.contUser {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.container-searchbar2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 10%;
  width: 100%;
  margin-bottom: 15px;
}
.usersContainer {
  border-radius: 25px;
  border: black 2px solid;
  width: 60%;
  height: 70%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-left: 15px;
}
.usersearched {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 90%;
  height: 75px;
  border-bottom: 1px solid black;
  font-size: 20px;
}


@media screen and (max-width: 768px) {
  .addpeople-image {
      width: 25px;
      height: 25px;
  }
  .home-image{
      width: 25px;
      height: 25px;
  }
  .profil-image{
      width: 25px;
      height: 25px;
  }
  .about-us-image{
      width: 25px;
      height: 25px;
  }
}

@media  screen and (max-width: 426px) {
  .addpeople-image {
      width: 20px;
      height: 20px;
  }
  .title-follow{
      font-size: 10px;
  }
  .home-image{
      width: 20px;
      height: 20px;
  }
  .title-home{
      font-size: 10px;
  }
  .profil-image{
      width: 20px;
      height: 20px;
  }
  .title-profil{
      font-size: 10px;
  }
  .about-us-image{
      width: 20px;
      height: 20px;
  }
  .title-about-us{
      font-size: 10px;
  }
}