.header{
    display: flex;
}

.title-follow{
    font-family : 'Kodchasan';
}

.title-chat{
    font-family : 'Kodchasan';
}


.title-profil{
    font-family : 'Kodchasan';
}

.title-about-us{
    font-family : 'Kodchasan';
}