@import url("https://fonts.cdnfonts.com/css/kodchasan");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Kodchasan", sans-serif;
  font-size: 1rem;
}
body {
  background-color: #f2f2f2c3;
}

.parent {
  display: grid;
  grid-template-columns: 200px repeat(4, 1fr);
  grid-template-rows: 100px 50px repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.categoryContainer {
  background-color: transparent;
  grid-area: 2 / 1 / 6 / 2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-right: black 3px solid;
  margin-bottom: 5px;
}
.header {
  grid-area: 1 / 1 / 2 / 6;
}
.searchBar {
  grid-area: 2 / 2 / 3 / 6;
}
.postContainer {
  grid-area: 3 / 2 / 6 / 6;
}
