.container-searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100%;
}
.searchbar {
  background-color: white;
  width: 40%;
  height: 60%;
  border-radius: 25px;
  border: 1px solid black;
  font-size: 1rem;
  margin-bottom: 0;
  padding-left: 15px;
  margin-bottom: 15px;
}
input:focus {
  border: none;
}
.imgloop {
  height: 20px;
  width: 20px;
}
.searchimg {
  width: 5%;
  height: 60%;
  border-radius: 25px;
  border: black 1px solid;
  background-color: white;
}
@media screen and (max-width: 1000px) {
  .searchbar {
    font-size: 15px;
    height: 30px;
    border: none;
    padding: 5px;
  }
  .searchimg {
    width: auto;
  }
}
