@import url("https://fonts.cdnfonts.com/css/kodchasan");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Kodchasan", sans-serif;
}
body {
  background-color: #f2f2f2c3;
}

.aboutus-container {
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  margin: 2px;
}

.leftpart {
  height: 650px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.separation {
  background-color: black;
  height: 500px;
  width: 5px;
  border-radius: 25px;
}
.rightpart {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  transition: transform 0.9s;
}
.image:hover {
  transform: rotate(360deg);
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.titleText {
  font-size: 40px;
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}
.content-title {
  font-size: 20px;
  font-weight: bold;

  margin-bottom: 15px;
  display: flex;

  width: 100%;
}
.content-text {
  font-size: 16px;
}

.content-text2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-textlogo {
  display: flex;
  gap: 10px;
}

.content-githubs {
  width: 100%;
  height: 25%;
  display: flex;
}

.content-github {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 10px;
}
.content-github2 {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-right: 15px;
}

.content-language {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 20px;
}

.languageimgs {
  display: flex;
  gap: 30px;
}

.gh {
  width: 50px;
  height: 50px;
}

.content-names {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-label {
  width: 50%;
  display: flex;
  gap: 10px;
  font-weight: bold;
}

.content-label {
  display: flex;
  flex-direction: column;
}

.content-input {
  height: 40px;
  width: 75%;
  border-radius: 25px;
  background-color: white;
  border: 1px solid black;
  padding-left: 15px;
}

.content-input::placeholder {
  font-family: "Kodchasan", sans-serif;
}

.main-content {
  display: flex;
}
@media screen and (max-width: 1000px) {
  body {
    overflow: scroll;
  }

  .gh {
    width: 40px;
    height: 40px;
  }
  .titleText{
    font-size: 30px;
  }

  .image {
    width: 75px;
    height: 75px;
  }

  .aboutus-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .leftpart {
    margin-top: 50px;
    width: 100%;
  }
  .separation {
    display: none;
  }
  .content {
    height: max-content;
    width: 90%;
    padding: 10px;
  }
  .rightpart {
    display: none;
  }
  .content-logo {
    display: none;
  }

  .content-github {
    font-size: 15px;
    text-align: center;
  }

  .content-github2 {
    font-size: 15px;
    width: 20%;
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: black;
}
